.paymentMethods {
    text-align: center;
}

.PaymentMehtodIcons {
    padding: 10px 0px;
}
.paypalIcon,
.CreditCardIcon,
.codIcon {
    height: 35px;
    background-color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.active {
    outline: 4px solid brown;
}

.codIcon {
    height: 35px;
}

.CreditCardIcon {
    margin-left: 8px;
    height: 35px;
}
/* 
.paypalIcon:hover,
.CreditCardIcon:hover,.codIcon:hover {
    scale: 1.05;
} */

.paypalIcon {
    margin-left: 8px;
    color: rgb(6, 187, 253);
}

.PayPalSection {
    padding: 10px 0px;
    text-align: center;
}

.PayPalSection input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(203, 201, 201);
    margin: 5px 0px;
}

.PayPalSection h3 {
    margin: 5px 0px;
}
.PayPalSection button {
    font-size: 0.9rem;
    background-image: linear-gradient(
        to right,
        rgb(2, 47, 124),
        rgb(9, 144, 193)
    );
    transition: 0.3s;
}

.PayPalSection button:hover {
    box-shadow: var(--dark-shadow);
}

.CreditCardSection {
}

.CreditCardSection .control label {
    display: inline-block;
    width: 140px;
}

.CreditCardSection .control input {
    border: 1px solid rgb(175, 174, 174);
    padding: 3px;
    border-radius: 4px;
}

.control {
    margin-top: 10px;
}
