.item {
    border-bottom: 1.2px solid rgb(182, 180, 180);
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.item .itemInfo {
    flex: 1;
}

@media (max-width: 450px) {
    .item {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

.itemName {
    font-weight: 600;
    font-size: 1.2rem;
}
.itemDesc {
    font-style: italic;
    font-size: 1rem;
}
.itemPrice {
    color: rgb(216, 131, 20);
    font-weight: 600;
    font-size: 1.2rem;
}

.inputAmount {
    width: 50px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0.3px solid grey;
}

.notValidInput:focus {
    background-color: rgb(156, 51, 51);
    outline: 2px solid rgb(178, 149, 55);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 0px 20px;
}

form span {
    font-weight: 600;
}

.addItemToCart {
    grid-column: span 2;
}
.amount {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.amountTxt {
    margin-right: 4px;
    font-size: 1.1rem;
}

.errorMsg {
    color: red;
    grid-column: span 2;
}


/* Editing section */

.editing {
    border-bottom: 1.2px solid rgb(182, 180, 180);
    width: 100%;
    min-height: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    padding: 5px 20px;
}

.editing {
    border-bottom: 1.2px solid rgb(182, 180, 180);
    width: 100%;
    min-height: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    padding: 5px 20px;
}

.error {
    color: rgb(244, 192, 69);
    margin: 5px 0px;
}

.editing::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: rgb(37, 108, 162);
    bottom: -15px;
    left: 0%;
    border-radius: 50%;
    cursor: default;
}
.editing::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: rgb(37, 108, 162);
    top: -15px;
    left: 0%;
    border-radius: 50%;
    cursor: default;
}

/* Editing */

.editing {
    display: block;
    color: white;
    position: relative;
    background-color: #bd4037;
    margin: 20px auto 40px auto;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
}
.editing .form_control label {
    width: 120px;
}
.editing .form_control {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 420px) {
    .editing .form_control {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    .editing {
        padding: 20px;
    }
    .addItemToCart button {
        padding: 5px 40px;
        border-radius: 0;

    }
}

.editing .form_control input {
    padding: 5px;
    border: 1px solid rgba(217, 217, 217, 0.818);
}

.editing .form_control input:hover,
.editing .form_control input:active,
.editing .form_control input:focus {
    outline: none;
}

.editBtn,
.cancelBtn {
    background-color: white;
    color: brown;
    transition: 0.3s;
}

.editBtn:hover,
.cancelBtn:hover {
    color: white;
    background-color: brown;
}
