.form__signup {
    margin: 15px 0px;
    max-width: 100%;
}

.form-group {
    padding: 8px 8px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(89px,1fr));
    max-width: 100%;
}

@media (max-width: 460px) {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-group label {
        min-width: 100%;
        font-size: 0.99em;
        text-align: center;
    }
}

.form-group input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(162, 162, 162);
    min-width: 60px;
    height: 29px;
}

.form__signup label {
    display: inline-block;
    width: 110px;
    font-size: 1rem;
}

.buttonsSection {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.signUpBtn:disabled,
.signUpBtn:disabled:hover,
.signUpBtn:disabled:active {
    background-color: rgb(139, 39, 39);
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
}
.errorMsg {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    grid-column: span 2;
}

.errorInput {
    background-color: rgb(214, 35, 11);
    border: 2px solid red;
    color: white;
}

@media (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        grid-column: 1 / 3;
    }
}
